.cell {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: hidden;
}

.activated {
    background-color: cadetblue;
}

.onCross {
    background-color: yellowgreen;
}

.noUsable {
    background-color: black;
}
.noUsable:hover {
    background-color: black;
}

.blue {
    background-color: royalblue;
}

.red {
    background-color: indianred;
}